@font-face {
    font-family: "Dited";
    src: local("Dited-Regular"),
        url("../fonts/Dited.woff2") format("woff2"),
        url("../fonts/Dited.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RAYDIS";
    src: local("RAYDIS-Regular"),
        url("../fonts/RAYDIS.woff2") format("woff2"),
        url("../fonts/RAYDIS.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --gap: 15px;
    --columns: 4;
}

img {
  width: 100%;
}

.container {
    max-width: 1310px;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

.flex {
    display: flex;
}

.setup-block {
    width: 20%;
    min-width: 150px;
    padding: 30px 15px;
    background-color: #fceded;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url("./img/image.png");
    background-repeat: no-repeat;
    background-position: bottom 20px center;
    background-size: 80%;
}

.game-block {
    position: relative;
    width: 60%;
    min-width: 360px;
    padding: 30px;
    background-color: #fadddd;
}

.game-result {
    position: absolute;
    margin: auto;
    width: 240px;
    height: 150px;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10%;
    border-radius: 10px;
    border: 1px #222 solid;
    background-color: #CCEDCC;
}

.game-title {
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: bold;
    color: #222;
}

.game-text {
    align-self: start;
    font-size: 18px;
}

.record-block {
    width: 20%;
    min-width: 150px;
    padding: 30px 15px;
    background-color: #fceded;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.blur {
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    z-index: -5;
    background-color: rgba(249, 237, 237, 0.7);
}

.record-card:not(:last-child) {
    margin-bottom: 25px;
}

.new-record {
    position: absolute;
    width: 120px;
    height: 120px;
    background-image: url("./img/record.png");
    background-repeat: no-repeat;
    background-size: 120px;
    z-index: -1;
    top: 20%;
    left: 60%;
    transform: rotate(22deg);
}

.title {
    margin: 0;
    margin-bottom: 30px;
    font-family: "RAYDIS";
    color: #358E35;
    text-decoration: underline;
}

.subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-family: "RAYDIS";
    color: #358E35;
    text-decoration: underline;
    font-size: 24px;
}

.level-name {
    margin: 0;
    margin-bottom: 5px;
}

.level-rec {
    margin: 0;
    font-size: 12px;
}

.form {
    display: flex;
    margin-bottom: 36px;
    flex-direction: column;
}

.form__title {
    margin-bottom: 15px;
    font-size: 20px;
}

.btn {
    width: 80%;
    min-width: 150px;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px rgb(40, 40, 40) solid;
    border-radius: 6px;
    background-color: #a4dba4;
    font-weight: 400;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #88c588;
}

.btn:active {
    outline: none;
    background-color: #377f37;
}

.timer {
    font-family: "Dited";
    font-size: 30px;
}

.label {
    margin-bottom: 20px;
}

.input {
    max-width: 100px;
    margin-right: 10px;
    padding: 5px 15px;
    border-radius: 6px;
    font-size: 15px;
}

.list {
    max-width: 100%;
    min-width: 300px;
    height: 80vh;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    gap: var(--gap);
    perspective: 1000px;
}

.item, .item-input {
    display: flex;
    position: relative;
    width: calc((100% - (var(--gap) * (var(--columns) - 1))) / var(--columns));
    height: calc((100% - (var(--gap) * (var(--columns) - 1))) / var(--columns));
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.item-opened, .item-defined {
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    font-size: 50px;
    color: #222;
}

.front, .back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  outline: 2px #c9c9c9 solid;
  background-image: url("./img/card-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.front {
  position: absolute;
  background-color: rgb(250, 221, 221, 0.3);
}

.back {
  display: flex;
  align-items: center;
  transform: rotateY(180deg);
  background-blend-mode: overlay;
  background-color: rgb(250, 221, 221, 0.8);
}
